.principal-title{
  text-align: center;
  color: #c71c3b;
}
.testimony-slider{
  margin-top: 20px;
  margin-bottom: 20px;
}
.slick-track{
  margin-bottom: 10px;
}
.testimony .slick-slide .card{
  width: 400px !important;
  height: 420px;
}
.testimony .slick-slider button{
  padding: 10px 2px;
  width: 50px;
  height: 50px;
  z-index: 19;
  background: #c71c3b !important;
}
.testimony .slick-slider button:hover{
  padding: 10px 2px;
  width: 50px;
  height: 50px;
  background: #33234e !important;
}
.testimony .card-top .image-container{
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50%;
}
.testimony .card-top .image-container .card-img-top{
  width: 100%
}
.testimony .card-top .profile{
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
.testimony .card-top .profile h5{
  margin: 0;
}
.testimony .card-top .profile p{
  color: #c71c3b;
  margin: 0;
}
.testimony .slick-slide .card-body .card-text{
  height: 230px;
}
@media (max-width: 1400px) {
  .testimony .slick-slide .card{
    width: 95% !important;
    height: 385px;
  }
  .testimony .slick-slide .card-body .card-text{
    height: 200px;
  }
  .testimony .slick-slide .card-body .card-stars{
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 991px) {
  .testimony .slick-next{
    right: 0;
  }
  .testimony .slick-prev{
    left: 0;
  }
  .testimony .slick-slide .card{
    margin: 0 2.5%;
    height: 65vh;
    width: 100%;
    min-height: 350px;
    max-height: 450px;
  }
  .testimony .slick-slide .card-body .card-text{
    height: 38vh;
    min-height: 150px;
    max-height: 200px;
  }
}

